{% extends 'base.html' %}
{% load static %}

{% block title %}Job Create{% endblock %}

{% block content %} 

<main class="text-body-dark"> 
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h4>Create New Job</h4>
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}


                <label class="small font-weight-bold">{{ job_form.title_ar.label}}</label>
    {{ job_form.title_ar }}
    <label class="small font-weight-bold">{{ job_form.title_en.label}}</label>
    {{ job_form.title_en }}
    <label class="small font-weight-bold">{{ job_form.min_salary.label}}</label>
    {{ job_form.min_salary }}
  



    <button class="btn btn-success btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Create Job">Create</button>
    <hr class="mb-3">
                    




            </form>
        </div>
    </div>
</div>

</main>
{% endblock content %}










